//colors
$primary-color: #FE7743;
$secondary-color: #273F4F;

$text-color: #717171;
$heading-color: #273F4F;
$bg-color: #EFEEEA;
$bg-transparent: rgba(239, 238, 234, 0.8);

//font sizes
$title-size : 36px;
$secondary-size : 28px;
$pragraph-size: 16px;